        h2 {
            color: #2c3e50;
            text-decoration: underline;
        }
        #main-header {
            background-color: #f1c40f;
            padding: 10px;
            text-align: center;
        }

        .highlight {
            background-color: yellow;
            font-weight: bold;
        }

        * {
            font-family: 'Arial', sans-serif;
        }
        h3, p {
            border-left: 5px solid green;
            padding-left: 10px;
        }
        div p {
            color: gray;
            font-style: italic;
        }